@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
    --orange: #fe7f2d;
    --black: #000000;
    --grey: #393939;
    --white: #ffffff;
    --box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.1);
}

button {
    padding: 0.5rem;
    background-color: var(--orange);
    color: var(--white);
    font-weight: 600;
}

button:hover {
    background-color: var(--white);
    color: var(--orange);
    border: 0.1rem solid #000000;
}

/* MAIN */

main {
    font-family: Roboto;
    text-align: center;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HELP SECTION */

.help_section {
    position: fixed;
    right: -50%;
    top: 11%;
    width: 300px;
    height: 265px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--orange);
    background-color: var(--black);
    align-items: center;
    color: var(--white);
    gap: 15px;
}

.help_title {
    margin-top: 1rem;
    color: var(--orange);
}

.info_container {
    margin: 0 20px 0 20px;
}

.info_container p {
    font-size: 0.9rem;
}

.close_help {
    padding: 0.5rem;
    background-color: var(--orange);
    color: var(--white);
    font-weight: 600;
}

.close_help:hover {
    background-color: var(--white);
    color: var(--black);
    border: 0.1rem solid var(--orange);
}

.help_section.active {
    right: 0.1%;
}

/* FORM */
form {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1.7rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.box {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.box label {
    width: 35%;
    font-weight: 800;
    padding: 0;
}

.box input {
    border: 0.1rem solid #000000;
    height: 2em;
    padding: 0.8em;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.button {
    background-color: var(--orange);
    color: var(--white);
    font-weight: 600;
}

.button:hover {
    background-color: var(--white);
    color: var(--orange);
    border: 0.1rem solid #000000;
}
