@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

:root {
    --orange: #fe7f2d;
    --black: #000000;
    --grey: #393939;
    --white: #ffffff;
    --box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    padding: 0;
}

main {
    font-family: "Open Sans";
    display: flex;
    flex-wrap: wrap;
}

.table-container {
    flex: 1;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.tb-title {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.3em;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;

    font-size: 0.94em;
}

.ip-sn {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.ip-sn h3 {
    margin: 0;
}

.ip-sn h3 span {
    font-weight: 100;
}

.refresh-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.refresh-btn {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.refresh-btn:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.refresh-btn:hover {
    background-color: #2c974b;
}

.refresh-btn:focus {
    box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
    outline: none;
}

.refresh-btn:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, 0.1);
    color: rgba(255, 255, 255, 0.8);
    cursor: default;
}

.refresh-btn:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.tb-date {
    margin: 0;
    font-weight: 100;
}

.ln {
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 1.2rem;
}

.ln hr {
    color: #bbbbbb;
    background-color: #bbbbbb;
    height: 1px;
}

.table {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
}

.table tbody {
    display: flex;
    flex-direction: column;
}

.table th,
.table td {
    display: flex;
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    width: 100%;
}

.td-key {
    font-weight: 550;
}

.more_info {
    text-align: right;
    margin: 4.4px 0 -8px 0;
}

.more-info-btn {
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    line-height: 10px;
    max-width: 240px;
    min-height: 30px;
    min-width: 0px;
    overflow: hidden;
    margin-top: .5rem;
    padding: 0px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.more-info-btn:hover {
    background-color: #16437E;
    color: #ffffff;
}

.more-info-btn:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.more-info-btn:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}


@media screen and (max-width: 600px) {
    .table-container {
        flex-basis: 100%;
    }
}
