@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* Establece el estilo básico para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
}

/* Usa flexbox para el elemento principal */
main {
    font-family: Roboto;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos dentro de main se envuelvan en pantalla pequeña */
}

/* Estilo para cada contenedor de tabla */
.table-container {
    flex: 1; /* Distribuye el espacio disponible entre los contenedores de tabla */
    margin: 10px; /* Espacio entre los contenedores de tabla */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estilo para las tablas */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Hacer que las tablas se apilen en pantallas pequeñas */
@media screen and (max-width: 600px) {
    .table-container {
        flex-basis: 100%;
    }
}
